services:
  app:
    build: .
    ports:
      - "4577:8080"
    environment:
      - PORT=8080
      - REDIS_HOST=redis
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:alpine
    restart: always
